<div class="well">
  <h1 id="img1", class="center">About us</h1>
  <div>
    <p>
      When you have something in your mind and you want the world know about it, Text Me First.
      Yeah.. That’s our motto.
    </p>
    <p>
      This world is very big and has more people. Yes obviously, no one’s gonna be the same, thoughts too. So what are you waiting for?
      Make others know what you have got new simple and crispy.
    </p>
    <p>
      In Texterz(Text Me First), you can share your thought world wide as you think and 
      you can perform code conversions such as decimal to binary, 
      octal to decimal, etc & SS7 7-7 point code to decimal and vice-versa. More features are coming in following days. 
      You don’t need any account to view other’s articles, profile and to perform code converter kind of actions, 
      but to make new article and to edit your old article you need an account.
    </p>
    <h4><strong>Site Security</strong></h4>
    <p>
      We try to make our site as secure as we can—we wanna protect both your privacy and the trust. Because the trust is where the relationship builds up and grows to touch the sky.
      I hope we touch the sky together and that’s what I want & we’ll.
    </p>
    <p>
      We do not store your password directly—instead we apply something called a “a one-way seeded hash function.” 
      In the unlikely event our database is compromised, it will be impossible to recover any passwords from it in reality.
    </p>
    <p>
      We’d appriciate your help always
    </p>
    <p>
      we encourage anyone who finds any kind of security flaw or potential thread, kindly inform me through 
      my facebook account <a href="https://www.facebook.com/actionanand">AR</a>
    </p>
    <p>
      we’ll respond as soon as we receive your report.
    </p>
    <h5><strong>Thank you my dear <a herf="javascript:alert('Text Me First');">Texterz</a></strong></h5>
  </div>
</div>