$navbar-default-bg: limegreen;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: darkgreen;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1.6px;
  font-weight: bold;
}
  
.navbar-nav > li > .dropdown-menu {
  
  background-color: limegreen;
}

.navbar-nav > li > .dropdown-menu :hover {
  
  background-color: forestgreen;
}

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('green_leaf.jpg');
  background-size: cover;
  height: 570px;
}

#img1{
	background: asset-url('rose_1.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

#img1 h1 {
	font-size: 100px;
	font-family: Anton, sans-serif;
	text-align: center;
	font-weight: bold;
	-webkit-transition: text-shadow 1s ease;
	text-shadow: 0 0 1px rgba(0,0,0,.1);
	margin: 0;
	padding: 0;
}

.footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px;
  border-top: 1px solid #cdffcd;
  color: #777;
}

.footer a:hover{
  color: forestgreen;
}

.footer small{
  float: left;
}

.footer ul{
  float: right;
  list-style: none;
}

.footer ul li{
  float: left;
  margin-left: 15px;
}

.article-action{
  border-top: 1px solid #b3ffb3;
  padding-top: 5px;
  
}

.decoration{
  margin-top: 0;
  
}

.well{
  
  background: #ccffcc;
}

.article-title{
  font-weight: bold;
  fint-size: 1.5em;
}

.article-body{
  border-top: 1px solid #b3ffb3;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details{
  border-top: 1px solid #b3ffb3 ;
  margin-top: 15px;
}

.listing{
  list-style: none;
  padding-left: 0;
}

.ss7-style{
  color: darkgreen;
}

.ss7-select :hover {
   background-color: limegreen;
}
























































