<h1 align="center"><%="Categories: " + @category.name %></h1>

<div align="center">
  <%=will_paginate @category_articles%>
</div>
<%=render 'articles/articles', obj: @category_articles%>
<div align="center">
  <%=will_paginate @category_articles%>
</div>