<div class="container">
  <footer class="footer">
    <small>
      Copyright 2019 &copy; by <a href="https://wwww.facebook.com/actionanand" target="_blank">Anand Raja(AR)</a>
    </small>
    <nav>
      <ul>
        <li>
          <%=link_to "About", about_path, target: :_blank%>
        </li>
      </ul>
    </nav>
  </footer>
</div>